
extends ../layout

block content

      a(href='/bicicletas') Volver
      br
      br

      h4 Nueva Bicicleta
      br
  
      form(action='/bicicletas/create' method='POST')
            span ID:
            br 
            input(name='id' type='text')
            br
            br
            span Color:
            br
            input(name='color' type='text')
            br
            br
            span Modelo:
            br 
            input(name='modelo' type='text')
            br
            br
            span Latitud:
            br
            input(name='lat' type='text')
            br
            br
            span Longitud:
            br
            input(name='lng' type='text')
            br
            br  
            input(value='OK' type='submit')
