
extends ../layout

block content

      a(href='/bicicletas') Volver
      br
      br

      h4 Editar Bicicleta
      br

      form(action=`/bicicletas/${bici.id}/update` method='POST')
            span ID:
            br
            input(name='id' type='text' value=bici.id)
            br
            br
            span Color:
            br
            input(name='color' type='text' value=bici.color)
            br
            br
            span Modelo:
            br
            input(name='modelo' type='text' value=bici.modelo)
            br
            br
            span Latitud:
            br
            input(name='lat' type='text' value=bici.ubicacion[0])
            br
            br
            span Longitud:
            br
            input(name='lng' type='text' value=bici.ubicacion[1])
            br
            br  
            input(value='OK' type='submit')
